# Intro to collections

**basics in markdown**

`**negrito**` 
`*itálico*`
`# Título`
`## Subtítulo`
`- Lista`

**basics comands in jupyter**

`shift + enter = executar cédula`
`alt + enter = executar e criar nova cédula`
`A = nova cédula acima`
`B = nova cédula abaixo`
`D D = apagar cédula`
`ctrl + shift + p = command palatte`

Troca de tipo:
- Esc → M (Markdown)
- Esc → Y (Code)

## Listas []

As listas são sequências mutáveis, normalmente usadas para armazenar coleções de itens homogêneos (onde o grau preciso de similaridade variará de acordo com a aplicação).

In [5]:
idades = [19, 20]

print(idades)

[19, 20]

In [6]:
type(idades)

list

In [7]:
len(idades)

2

In [8]:
print(idades[0])

19

In [9]:
idades.append(72)

In [10]:

print(idades)

[19, 20, 72]

In [11]:
for idade in idades:
    print(idade)

19
20
72

In [12]:
while 72 in idades:
    idades.remove(72)

In [13]:
print(idades)

[19, 20]

In [14]:
idades.clear

In [15]:
if 28 in idades:
    idades.remove(28)

In [16]:
idades = list(range(10))

In [17]:
print(idades)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
idades.insert(0, -1)

In [19]:
idades.extend([10,11])

In [20]:
idades

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [21]:
for i in range(len(idades)):
    idades[i] += 1

In [22]:
idades

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Um compreensão de lista consiste de um par de colchetes contendo uma expressão seguida de uma cláusula for, e então zero ou mais cláusulas for ou if. O resultado será uma nova lista resultante da avaliação da expressão no contexto das cláusulas for e if.

In [24]:
[ (idade+1) for idade in idades]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [29]:
filtradas = [idade for idade in idades if 7 < idade]

print(filtradas)

[8, 9, 10, 11, 12]

In [31]:
[idade for idade in idades if 7 < idade]

[8, 9, 10, 11, 12]

### Lista mutável

O perigo de uma lista ou objeto mutável. 
O tamanho e valores de uma lista mudam porque não se sabe se é uma nova lista ou antiga lista, por isso precisamo esclarecer quando é uma nova lista.

In [42]:
def listaMutavel(lista = list()):
    
    print(len(lista))
    print(lista)
    lista.append(3)

In [43]:
def listaNaoMutavel(lista = None):
    if lista == None:
        lista = list()

    print(len(lista))
    print(lista)
    lista.append(3)

In [44]:
print('Lista mutável:')
listaMutavel()
listaMutavel()
print('Lista NÃO mutável:')
listaNaoMutavel()
listaNaoMutavel()

Lista mutável:
0
[]
1
[3]
Lista NÃO mutável:
0
[]
0
[]

### Lista Mutável de Objetos

In [5]:
class contaCorrente:
    def __init__ (self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposito(self, valor):
        self.saldo += valor

    def __str__ (self):
        return "[>>Código {}  Saldo {}<<]".format(self.codigo, self.saldo)

In [7]:
contaX = contaCorrente(7092)
contaY = contaCorrente(8874)

print(contaX, contaY)

[>>Código 7092  Saldo 0<<] [>>Código 8874  Saldo 0<<]

In [8]:
contaX.deposito(70)
contaY.deposito(1000)

print(contaX, contaY)

[>>Código 7092  Saldo 70<<] [>>Código 8874  Saldo 1000<<]

In [9]:
contas = [contaX, contaY, contaX]

In [11]:
for conta in contas:
    print(conta)

[>>Código 7092  Saldo 70<<]
[>>Código 8874  Saldo 1000<<]
[>>Código 7092  Saldo 70<<]

In [12]:
contas[2].deposito(300)

[(print(conta)) for conta in contas]

[>>Código 7092  Saldo 370<<]
[>>Código 8874  Saldo 1000<<]
[>>Código 7092  Saldo 370<<]

[None, None, None]

*CUIDADO!!*  
Quando colocamos os mesmos objetos em uma lista e alteramos um atributo em UM deles, o atributo do outro objeto também será alterado. Porque ambos objetos iguais em uma lista estão ocupando o mesmo espaço da memória. E o que está na lista é um "ponteiro", ou uma referência ao objteo

In [13]:
print(contaX)

[>>Código 7092  Saldo 370<<]

# Tuplas ()

Tuplas são sequências imutáveis, tipicamente usadas para armazenar coleções de dados heterogêneos (como as tuplas de 2 elementos produzidas pelo função embutida enumerate()). Tuplas também são usadas para casos em que seja necessária uma sequência imutável de dados homogêneos (como permitir o armazenamento em uma instância set ou dict).

In [23]:
contaX = ('Guilherme', 31, 11100)
contaY = ('Dani', 19, 50)

In [24]:
contaX.deposita(100)

AttributeError: 'tuple' object has no attribute 'deposita'

In [25]:
def deposita(conta, valor):
    novoSaldo = conta[2] + valor
    idade = conta[1]
    nome = conta[0]
    return (nome, idade, novoSaldo)

In [26]:
print(contaX)
deposita(contaX, 100)
print(contaX)

('Guilherme', 31, 11100)
('Guilherme', 31, 11100)

In [27]:
print(contaX)
contaX = deposita(contaX, 100)
print(contaX)

('Guilherme', 31, 11100)
('Guilherme', 31, 11200)

In [29]:
usuarios = [contaX, contaY]
usuarios

[('Guilherme', 31, 11200), ('Dani', 19, 50)]

In [32]:
# Existem listas de tuplas
frutas = [('banana', 36), ('maca', 72)]
frutas

[('banana', 36), ('maca', 72)]

In [33]:
# Existem tuplas de listas
carros = (['BMW', 2000], ['Kwid', 2019])
carros

(['BMW', 2000], ['Kwid', 2019])

In [35]:

# Quero adicionar tuplas na minha lista, sem premitir que mudem os conteúdos das tuplas
frutas.insert(0, ['kiwi', 33])
frutas

[['kiwi', 33], ('banana', 36), ('maca', 72)]

In [36]:

# Quero mudar o conteúdo das minhas litas, sem premitir que adicionem ou retirem listas da tupla
carros[1][1] += 1
carros

(['BMW', 2000], ['Kwid', 2020])

# Polimorfismos e Herança

In [71]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass = ABCMeta):
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposito(self, valor):
        self._saldo += valor

    # Se for criada uma subclasse sem atributo fimMes dá erro
    # É ótimo para deixar o código padrão
    @abstractmethod
    def fimMes(self):
        pass

    def __str__(self):
        return "[>>Código {}  Saldo {}<<]".format(self._codigo, self._saldo)

In [72]:
class ContaInvestimento(Conta):
    pass

In [73]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta with abstract method fimMes

In [74]:
ContaInvestimento(71)

TypeError: Can't instantiate abstract class ContaInvestimento with abstract method fimMes

In [47]:
class ContaCorrente(Conta):
    def fimMes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    def fimMes(self):
        self._saldo *= 1.01
        self._saldo -= 3

In [61]:
contaW = ContaCorrente(800)
contaZ = ContaPoupanca(76)
contaW.deposito(999)
contaZ.deposito(700)
print(contaW, contaZ)

[>>Código 800  Saldo 999<<] [>>Código 76  Saldo 700<<]

In [62]:
contasGerais = [contaW, contaZ]

for conta in contasGerais:
    conta.fimMes()
    print(conta)

[>>Código 800  Saldo 997<<]
[>>Código 76  Saldo 704.0<<]

# Array vs Numpy

Array é muito específico, mas ótimo para otimizar o código.

Numpy já vem com funções muito úteis prontas

In [63]:
import array as arr
import numpy as np

In [65]:
numeros = np.array([1, 3.5])
numeros + 3

array([4. , 6.5])

In [67]:
numInts = arr.array('d', [1, 3.5])
numInts

array('d', [1.0, 3.5])

# Igualdade e `__eq__`

In [77]:
class contaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return "[>>Código {}  Saldo {}<<]".format(self._codigo, self._valor)

In [78]:
conta1 = contaSalario(37)
conta2 = contaSalario(37)

In [79]:
conta1 == conta2

False

In [87]:
class contaSalario:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != contaSalario:
            False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return "[>>Código {}  Saldo {}<<]".format(self._codigo, self._saldo)

In [88]:
conta1 = contaSalario(77)
conta2 = contaSalario (77)

In [89]:
conta1 == conta2

True

In [90]:
conta1 != conta2

False

In [91]:
conta1.deposita(100)
print(conta1, conta2)

[>>Código 77  Saldo 100<<] [>>Código 77  Saldo 0<<]

In [92]:
conta1 == conta2

False

In [93]:
conta3 = contaCorrente(3)

isinstance(conta3, contaSalario)

False

In [95]:
isinstance(contaSalario(77), contaSalario)

True

In [102]:
isinstance(ContaCorrente(90), Conta)

## era para ser true, porque uma suclasse é uma instancia da classe

False

# Builtins

enumerate, list, range e desempacotamento automático de tuplas

In [1]:
idades = [10, 97, 32, 64, 45, 32, 7]

for i in range(len(idades)):
    print(i, idades[i])

0 10
1 97
2 32
3 64
4 45
5 32
6 7

In [3]:
enumerate(idades)

In [4]:
list(enumerate(idades))

[(0, 10), (1, 97), (2, 32), (3, 64), (4, 45), (5, 32), (6, 7)]

In [6]:
for idade in enumerate(idades):
    print(idade)

(0, 10)
(1, 97)
(2, 32)
(3, 64)
(4, 45)
(5, 32)
(6, 7)

In [7]:
for idx, idade in enumerate(idades):
    print(idx, "x", idade) # unpacking de tuplas

0 x 10
1 x 97
2 x 32
3 x 64
4 x 45
5 x 32
6 x 7

In [13]:
usuarios = [
    ('Arthur', 19, 2006),
    ('Alessandra', 45, 1987),
    ('Marta', 70, 1977)
]


for nome, idade, ano in usuarios:
    print(nome)

Arthur
Alessandra
Marta

# Ordenação Básica

In [14]:
idades

[10, 97, 32, 64, 45, 32, 7]

In [15]:
sorted(idades)

[7, 10, 32, 32, 45, 64, 97]

In [16]:
idades

[10, 97, 32, 64, 45, 32, 7]

In [17]:
list(reversed(sorted(idades)))

[97, 64, 45, 32, 32, 10, 7]

In [18]:
idades

[10, 97, 32, 64, 45, 32, 7]

In [19]:
idades.sort()

In [20]:
idades

[7, 10, 32, 32, 45, 64, 97]

In [21]:
idades.sort(reverse=True)

In [23]:
idades

[97, 64, 45, 32, 32, 10, 7]

# Ordenação sem ordem natural

In [24]:
class contaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != contaSalario:
            pass

        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return '[>> Código {}  Saldo {}<<]'.format(self._codigo, self._saldo)

In [28]:
contaLuiz = contaSalario(0)
contaLuiz.deposita(7000)
contaAlessandra = contaSalario(1)
contaAlessandra.deposita(100000)
contaVinicius = contaSalario(2)
contaVinicius.deposita(-33)

contas = [contaLuiz, contaAlessandra, contaVinicius]
contas

[<__main__.contaSalario at 0x7f8e708938b0>,
 <__main__.contaSalario at 0x7f8e70890bb0>,
 <__main__.contaSalario at 0x7f8e708910c0>]

In [29]:
for conta in contas:
    print(conta)

[>> Código 0  Saldo 7000<<]
[>> Código 1  Saldo 100000<<]
[>> Código 2  Saldo -33<<]

In [32]:
# CUIDADO, ESTÁ EXTRAÍNDO VALOR PRIVADO DE UM OBJETO
# UMA MIERDA
def extraiSaldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extraiSaldo):
    print(conta)

[>> Código 2  Saldo -33<<]
[>> Código 0  Saldo 7000<<]
[>> Código 1  Saldo 100000<<]

In [33]:
# O correto:

class contaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != contaSalario:
            pass

        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __lt__(self, outro):
        return self._saldo < outro._saldo
        
    def __str__(self):
        return '[>> Código {}  Saldo {}<<]'.format(self._codigo, self._saldo)

In [35]:
contaLuiz = contaSalario(0)
contaLuiz.deposita(7000)
contaAlessandra = contaSalario(1)
contaAlessandra.deposita(100000)
contaVinicius = contaSalario(2)
contaVinicius.deposita(-33)

In [36]:
contaVinicius < contaAlessandra

True

In [37]:
for conta in sorted(contas):
    print(conta)

[>> Código 2  Saldo -33<<]
[>> Código 0  Saldo 7000<<]
[>> Código 1  Saldo 100000<<]

# Ordenação completa e functools

In [39]:
from functools import total_ordering

@total_ordering
class contaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != contaSalario:
            pass

        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo

    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return '[>> Código {}  Saldo {}<<]'.format(self._codigo, self._saldo)

In [41]:
contaH = contaSalario(89)
contaH.deposita(-70)
contaJ = contaSalario(7)
contaJ.deposita(-70)
contaK = contaSalario(999)
contaK.deposita(800)

contas = [contaH, contaJ, contaK]

for conta in sorted(contas):
    print(conta)

[>> Código 7  Saldo -70<<]
[>> Código 89  Saldo -70<<]
[>> Código 999  Saldo 800<<]

In [43]:
contaJ >= contaK

False